/*Add CSS styles here*/
body {
    font-family: "Franklin Gothic Medium";
    background-color: #4872b5;
    color: white;
    
}

#credits{
    font-family: "Tahoma";
    font-size: small;
}

#map { 
    height: 600px;
    width: 100%;
    display: inline-block;
    color: black;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 160px;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 12px;
    text-align: center;
    border: solid gray 1px;
}

.temporal-legend {
    width: 100px;
}

.range-slider {  
    width: 250px;
}  

.step {  
    width: 40px;
}  

.step img {  
    width: 100%;
    height: auto; 
}  

#forward {
    float: right;
}
    
#reverse {  
    float: left;  
}