/*Add CSS styles here*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
    font-family: "Franklin Gothic Medium";
    background-color: #4872b5;
    color: white;
}

.title,
.subtitle{
    padding-left: 20px;
    margin:0;
    padding-top:12px;
    padding-bottom: 12px;
}

header {
    height: 110px;
}

.footer {
    height: 30px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 14px; /*workaround for now centering was pissing me off*/
    
}

#credits{
    font-family: "Tahoma";
    font-size: small;
}

#map { 
    height: calc(100vh - 140px);
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    color: black;
}

.sequence-control-container {
    width: 350px;
    height: 25px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 160px;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    line-height: 20px;
    text-align: center;
    border: solid gray 1px;
}

.temporal-legend {
    width: auto;
    margin: 5px;
    font-size: medium;
}

.range-slider {  
    width: 250px;
    vertical-align: middle;
}  

.step {  
    width: 40px;
}  

.step img {  
    width: 80%;
    height: 80%;
}  

#forward {
    float: right;
}
    
#reverse {  
    float: left;  
}

/* unvisited link */
a:link {
    color: #FEDB2A;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: white;
    text-decoration: underline;
}

/* visited link */
a:visited {
color: #FEDB2A;
}

/* selected link */
a:active {
color: #D1D1D1;
}


/* fixing leaflet attributes link color */
.leaflet-control > a:link { color: #0278a8}

/* fixing leaflet zoom button colors */
.leaflet-bar > a:link { color: black; }


/* max 320px */
@media (max-width: 20rem) {
    
}

/* max 480px */
@media (max-width: 30rem) {
    h1 {
        font-size: 1.5rem;
    }
    .title {
        padding-left: 0px;
    }
    .subtitle{display: none; }

    /* center title on mobile */
    .title {
        text-align: center;
    }
    header {
        height: 50px;
    }
}